*{
    margin: 0;
    padding: 0;
}

body, ul, li{
    line-height: 1.6;
    list-style: none;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    backdrop-filter: blur(5px);
    z-index: 999;
}

nav a {
    transition: all 0.3s ease;
}

nav a:hover {
    opacity: 0.7;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
}

button {
    background-color: #090000;
    border-radius: 48px;
    border:none;
    color: #C4C4C4;
    margin-top: 5px;
}

.groupbtn {
    width: 470px;
    border-radius: 80px;
    display:flex;
    justify-content:center;
    height: 56px;
    background-color: #000000;
    justify-self: center;
    gap: 16px;
}

.hmbtn {
    width:87px ;
    height: 46px;
    font-size: 20px;
}

.prbtn{
    width: 131px;
    height: 46px;
    font-size: 20px;
}

.abbtn{
    width: 88px;
    height: 46px;
    font-size: 20px;
}

.ctbtn {
    width: 106px;
    height: 46px;
    font-size: 20px;
}

.joey{
    width: 91px;
    justify-self: center;
    display: flex;
    margin-top: 32px;
    margin-bottom: 40px;
}

.site-title-text{
    font-size: 227px;
    font-weight: 600;
    display: flex;
    justify-self: center;
    width: 1123px;
    margin-top: 206px;
}

.scr{
    background-color: #F9F9F9;
    color: #000;
    height: 92px;
    width: 231px;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    margin-left: 1080px;
    margin-top: 500px;
}

.scr:hover{
    color: #fff;
    background-color: #000;
}

.pcsj{
    width: 471px;
    font-size: 20px;
    justify-self: end;
}

.site-subtitle{
    width: 1600px;
    margin-left: 112px;
}

.site-subtitle-text{
    width: 126px;
    height: 68px;
}



.list-item {
    width: 592px;
}
.list-item-thumb {
    position: relative;
    border-radius: 32px;
    overflow: hidden;
    background: linear-gradient(104.48deg, #7A19F3 -2.44%, #A952F3 100%);
    width: 592px;
    height: 500px;
}
.list-item-thumb-uper_text1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateY(100%);
    transition: 300ms transform;
    font-size: 60px;
}
.list-item-thumb-uper_text2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateY(100%);
    transition: 300ms transform;
    font-size: 60px;
}
.list-item-thumb-uper_text3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateY(100%);
    transition: 300ms transform;
    font-size: 60px;
}
.list-item-thumb-uper_text4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateY(100%);
    transition: 300ms transform;
    font-size: 60px;
}
.active-text {
    transform: translateY(0);
}
.ferrari-img{
    padding: 26px 0 0 55px;
}
.title{
    width: 1217px;
    height: 181px;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    padding-top: 144px;
}

.title-text-proj{
    font-size: 48px;
    font-weight: 600;
}

.title-text-text{
    font-size: 20px;
    font-weight: 500;
    width: 529px;
    height: 112px;
}

.images-group-1{
    width: 1216px;
    height: 1200px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.elements{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    font-size: 20px;
    font-weight: 500;
}
.title-more{
    display: flex;
    margin-top: 144px;
    width: 71px;
    height: 28px;
    font-weight: 600;
    font-size: 20px;
}

.btn-underline:hover{
    text-decoration: underline;
}



.expertise {
    padding-top: 155px;
}

.container {
    width: 343px;
    margin-left: 0; 
}

.expertise-tittle {
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: -0.24px;
    margin-bottom: 24px; 
}

.expertise-list {
    list-style: none;
    padding-left: 0;
}

.expertise-list-item {
    position: relative;
    padding-left: 12px;
    display: list-item;
    margin-bottom: 32px;
    font-size: 16px;
}

.expertise-list-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 15px; 
    width: 4px;
    height: 4px;
    border-radius: 24px;
    background:  #000;
}

.expertise-list-item:last-of-type {
    margin-bottom: 0;
}

.expertise-list-item-tittle {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.2px;
    margin-bottom: 16px;
}

.expertise-list-item-text {
    font-size: 16px; 
    line-height: 24px;
    letter-spacing: -0.14px;
    margin-left: -6px;
}

@media (min-width: 1440px) {
    .container {
        width: 1216px;
        height: 495px;
        justify-self: center;
    }

    .expertise {
        margin-left: 0;
    }

    .expertise-tittle {
        font-size: 38px;
        margin-bottom: 40px;
        font-weight: 600;
        margin-left: 0;
    }

    .expertise-list {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        font-size: 32px;
        font-weight: 600;
    }

    .expertise-list-item {
        width: calc(50% - 40px); 
        margin-bottom: 0;
    }

    .expertise-list-item-tittle {
        font-size: 24px;
        margin-left: 0;
    }

    .expertise-list-item-text {
        font-size: 18px;
        line-height: 28px;
        margin-left: -12px;
        width: 328px;
    }
}

.runline{
    background-color: #000;
    overflow: hidden;
    height: 249px;
    margin-top: 123px;
}

.runline-text{
    font-size: 140px;
    font-weight: 600;
    color: #fff;
    margin-top: auto;
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
    display: inline-block;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    0% { transform: translateX(-200%); }
    100% { transform: translateX(-69%); }
}

.Testimonials{
    outline: auto;
    margin-top: 80px;
    width: 1216px;
    justify-self: center;
    height: 606px;
}

.main-text{
    width: 954px;
}

.main-text-title{
    font-weight: 600;
    font-size: 64px;
    margin-bottom: 40px;
}

.main-text-text{
    font-weight: 500;
    font-size: 40px;
}

.Letstalk{
    margin-top: 130px;
    outline: auto;
    width: 1216px;
    height: 468px;
    display: flex;
    justify-self: center;
}

.Letstalk-title-text{
    font-size: 140px;
    font-weight: 600;
}

.Letstalk-but{
    background-color: #000;
    color: #fff;
    width: 262px;
    height: 92px;
}

.logo{
    width: 92px;
    height: 32px;
    background-image: url("svgs/Logo.svg");
    display: flex;
    justify-self: center;
    margin-top: 32px;
    margin-bottom: 40px;
}

.title-more-arrow{
    width: 13px;
    height: 15px;
    background-image: url("svgs/more_arrow.svg");
    margin-left: 8px;
    margin-top: 7px;
}

.Letstalk-but-arrow{
    width: 19.8px;
    height: 19.8px;
    background-image: url("svgs/lets_talk_arrow.svg");
}

.header-btn:hover{
    color: #000;
    background-color: #fff;
}